main {
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-width: 980px;
}

.sedans {
  background-color: hsl(31, 77%, 52%);
  border-top-left-radius: 2%;
  border-bottom-left-radius: 2%;
  width: 200px;
  padding: 2%;
}

.suvs {
  background-color: hsl(184, 100%, 22%);
  width: 200px;
  padding: 2%;
}

.luxury {
  background-color: hsl(179, 100%, 13%);
  border-top-right-radius: 2%;
  border-bottom-right-radius: 2%;
  width: 200px;
  padding: 2%;
}

h3 {
  color: hsla(0, 0%, 95%);
  font-family: 'Big Shoulders Display', cursive;
  text-transform:uppercase;
  font-size: 25px;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: 'Lexend Deca', sans-serif;
  padding: 20px 20px,;
  font-size: 12px;
  margin-right: 30px;
  line-height: 20px;;
}

Button {
  background-color: hsl(0, 0%, 95%);
  border-radius: 25px;
  font-family: 'Big Shoulders Display', cursive;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 15px;
  font-weight: 400;
  padding: 10px;
  margin-top: 60px;
  margin-bottom: 20px;
  border-style: solid;

}
Button:hover {
  border-radius: 25px;
  background-color: transparent;
  border-color: white 1px;
}
.sedButton {
  color: hsl(31, 77%, 52%);
  border-color: hsl(31, 77%, 52%);
}

.suvButton {
  color: hsl(184, 100%, 22%);
  border-color: hsl(184, 100%, 22%);
}

.luxButton {
  color: hsl(179, 100%, 13%);
  border-color: hsl(179, 100%, 13%);
}

.sedButton:hover {
  color: hsl(0, 0%, 95%);
  border-color: white;
  border-style: solid;
}

.suvButton:hover {
  color: hsl(0, 0%, 95%);
  border-color: white;
  border-style: solid;
}

.luxButton:hover {
  color: hsl(0, 0%, 95%);
  border-color: white;
  border-style: solid;
}

.attribution {
  text-align: center;
  font-size: 11px;
}

/*@media (min-width: 920px){

    main {
        height: 100vh;
        padding: 100px 200px;
        margin: 40px auto;
    }

    .SEDANS,
    .SUVS,
    .LUXURY {
      padding: 40px 50px;
    }
  .sedans {
    border-top-left-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
  }

  .luxury {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  }
    h3 {
      margin-top: 30px;
    }
    p {
      font-size: 15px;
      margin-bottom: 80px;
    }
    }
}
